---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GitRover</title>
	</head>
	<body>
		<h1 class="text-4xl font-bold">GitRover</h1>
		<p>The better GitHub CLI we all needed.</p>
	</body>
</html>
